{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class="container-fluid">
      <!-- <div class="welcome">
          <h5>{% trans 'welcome back' %} {{ instructor.first_name }} , {% trans "you last login was at" %}</h5>
      </div> -->
      <div class="row">
          <div class="col-md-3 col-12">
              <div class="container-fluid">
                  <div class="row">
                    <div class="list-group w-75 ml-0">
   
                      <a href="{% url 'loggedin' %}"  class="list-group-item active"><i class="fa fa-key"></i> <span>{% trans "My Board" %}</span></a>
                      <a href="#" class="list-group-item"><i class="fa fa-credit-card"></i> <span>{% trans "Billing" %} </span></a>
                      <a href="#" class="list-group-item"><i class="fa fa-question-circle"></i> <span>{% trans "Support" %} </span></a>
                      <a href="{% url 'manage_course_list' %}" id='dashboard_course_list' class="list-group-item"><i class="fa fa-arrow-circle-o-left"></i> <span>{% trans "My Courses" %}</span></a>
                      <a href="{% url 'instructor_create' %}" id="id_account_page" class="list-group-item"><i class="fa fa-book"></i> <span>{% trans 'My Account' %}</span></a>
                      <a href="#" class="list-group-item"><i class="fa fa-compass"></i> <span>{% trans "Invite Friends" %}</span></a>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-md-9 col-12 w-100 p-1">
              <div class="container">
                  <div class="row" id="dashboard">
                        <div class="col-md-6 col-12">
                            course dashboard
                        </div>
                        <div class="col-md-6 col-12">
                            student dashboard
                        </div>
                        <div class="col-md-6 col-12">
                            earnings board
                        </div>
                        <div class="col-md-6 col-12">
                            course message board
                        </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
{% endblock content %}