
{% extends "base.html" %}
{%load staticfiles %}
{% block title %} 
  
  {% if subject %}
      {{ subject.title }}
  {% else %}
      All courses
  {% endif %}
{% endblock title %}

{% block content %}
    
    <!-- Logo -->
    <div class="container-fluid logo" style="padding: 0;">
        <div class="jumbotron bg-dark">
            <div class="container">
                <nav class="navbar navbar-expand-md bg-transparent">
                    <div class="row w-100">
                        <div class="col-4 "> 
                        <a class="navbar-brand" href="#">
                            <img src="{% static '/images/logo.png' %}">
                        </a>
                        </div>
                        <div class="col text-right">
                            <div class="row h-50 w-100 text-right">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                                <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                                    <div class="row h-50 w-100 ml-5 text-black-50">
                                        <h1 class="font-weight-bolder">Learn at your pace</h1>
                                        <h3>Technologists need the latest skills to do their jobs effectively. 
                                            And technology leaders need visibility into how their teams work to put the right people on the right projects. 
                                            "Lorem Ipsum" gives you both—the skills and data you need to succeed.</h3>
                                    </div>
                                
                                </div> 
                            </div>
                            
                        </div>
                    </div> 
                </nav>
            </div>
        </div>
    
        <!-- <br> -->
        <div class="container-fluid h-100">
            <div class="jumbotron-fluid h-25">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 text-left">
                                <span><strong>100,000 online courses</strong></span>
                                <br>
                                <span>With veriaty of topics</span>
                            </div>
                        <div class="col-md-4 text-left">
                            <span><strong>Coolest Instructions</strong></span>
                            <br>
                            <span>Right course for your fancy</span>
                        </div>
                        <div class="col-md-4 text-left">
                            <span><strong>Access for lifetime</strong></span>
                            <br>
                            <span>Your pace, your schedule</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
       <!-- Logo -->

        <div class="container my-4 p-1" id="categories">
            <div class="col p-1">
                <h3 class="text-left">TOP CATEGORIES</h3>
            </div>
           <div class="row justify-content-center mx-0">
            {% for s in subjects  %}   
            <div class="col-md col-12 p-1">
                <a class="card-link" href="{% url 'course_list_subject' s.slug %}">
                    <div class="card shadow text-black-50 border-0 h-100">
                        <div class="img-animation align">
                            <i class="lnr lnr-chart-bars"><use xlink:href="#lnr-chart-bars"></use></i>
                        </div>
                        <div class="card-body text-center">
                            <div class="card-text"><span>{{s.title}}</span></div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
           </div>
        </div>
    
  </div>
        </div>
    </div>
    </div>
    <div class="container"><hr></div>
 <div class="container" id="course-sort">
    <div class="row">
        <div class="col">
            <h3 style="background-color: white;margin-left: 0;padding-left: 0;">TOP COURSES</h3>
        </div>
        <div class="col text-right" style="text-align:right; background-color: white; margin-right: 0; padding: 0;">
            <div class="form-group col-md6 float-right" style="margin-right: 0; padding-top: 15px;">
                <select id="inputState" class="form-control">
                  <option selected>Release date (newest first)</option>
                  <option>Release date (newest oldest)</option>
                  <option>Overall Rating</option>
                  <option>Popular (most viewed)</option>
                </select>
              </div>
        </div>
    </div>
</div>
{% include "courses/course/course_list.html" with instance=courses %}
<div class="container"><hr></div>
<div class="container" id="instructors">
    <div class="row">
        <h3 style="background-color: white;margin-left: 0;padding-left: 0;">Top Instructors</h3>
    </div>
    <div class="row">
    {% for instructor in  instructors %}
       <div class="col-md-3 col-12 p-2 h-100 inner"> 
            <a class="card-link text-dark" href="">  
                <div class="card text-dark shadow">
                    <div class="card-header" style="height: 10rem;">
                        <img  class="rounded-circle mx-auto d-block img-fluid h-100"
                        alt="Cinque Terre" 
                        src="/media/{{instructor.owner__profiles__photo}}" /></div>
                    
                    <div class="card-title text-center"><strong>{{instructor.owner__first_name}}&nbsp;{{instructor.owner__last_name}}</strong></div>
                    <div class="card-text p-2"><span>{{instructor.owner__profiles__bio| slice:":200"}}</span><span id="dots">...</span></div>
                    <hr>
                    <div class="card-text p-2"><span> <strong>{{instructor.count}}</strong> 
                        {% if instructor.count == 1  %}
                            Course</span>
                        {% else %}
                            Courses</span>
                        {% endif %}
                    </div>
                </div> 
            </a>
       </div>
    {% endfor %}
    </div>
</div>
<div class="container"><hr></div>

{% include "students/student/student_reviews.html" with instance=students_review %}

<br> 

{% endblock content %}
