{% extends "base.html" %}
{% load staticfiles %}
{% load course %}

{% block title %}
  Search list for {{ search_term }}
{% endblock title %}

{% block content %}
 <div class="container-fluid bg-transparent">
     <div class="row w-100">
         <div class="col-md-3">
             <div class="container mt-3 search-filters">
                 <ul>
                     <li><span>FILTER BY</span>
                      <hr>
                    </li>
                     <li><span class="filter-heading">Topic</span>
                     <hr>
                    </li>
                    <li class="filter-skill-level"><span class="filter-heading">Skill Level</span>
                    {% for i in 'All Levels,Beginner,Intermediate,Adnavce'|makelist %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="skill-level{{forloop.counter}}">
                            <label class="form-check-label" for="defaultCheck1">
                              {{ i }}
                            </label>
                        </div>
                    {% endfor %}    
                       
                     <hr>
                    </li>
                     <li><span class="filter-heading">Price</span>
                        {% for i in 'Free,Paid'|makelist %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck{{forloop.counter}}">
                            <label class="form-check-label" for="defaultCheck1">
                              {{ i }}
                            </label>
                        </div>
                        {% endfor %}
                     <hr>
                    </li>
                     <li><span class="filter-heading">Rating</span>
                        {% for i in '1,2,3,4,5'|makelist %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="ratingOpt" value="ratingOpt{{i}}">
                            <label class="form-check-label" for="exampleRadios1">
                                {{ i | ratings }} {{ i }} & up
                            </label>
                        </div>
                        {% endfor %}
                     <hr>
                    </li>
                 </ul>
             </div>
         </div>
         <div class="col-md-9 bg-transparent">
             <div class="container search-list">
                 {% for course in result_courses  %}
                    <div class="row">
                        <div class="col-md-3 col-12 bg-light image">
                            <div><img class="img-thumbnail" src="/media/{{ course.thumbnail_image}}"></div>
                        </div>
                        <div class="col-md-7 col">
                        <div class="card-title"><strong>{{ course.title }}</strong></div>
                        <div class="card-text overview">
                            <p>
                                {{ course.overview | slice:":500" }}      
                            </p>
                        </div>
                        <div class="card-text author">
                            {{ course.owner__first_name}} {{ course.owner__last_name}}
                        </div>
                        <div class="card-text ratings">
                           <span> {{ course.avg| ratings }} </span>
                        </div>
                        <div class="card-text extra_details">
                            <span> {{ course.duration}} total hours. {{ course.level}}</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="price">
                            <strong>${{course.price}}</strong>
                        </div>
                    </div>
                    </div>
                    <hr>  
                 {% endfor %}
             </div>
         </div>
    </div>
 </div> 
{% endblock content %}