{% load course %}
{% load i18n %}

{% block content %}
 {% with course=module.course   %}
     <div class="container"> 
       <div class="row">
         <div class="col-md-12">
            <h5>{% trans "Course" %} : "{{ course.title }}"</h5>
         </div>
       </div>
    
      <div class="row"> 
        <div class="col-md-3 col-12 align-content-center">{% trans "Select a Module" %}</div>
        <div class="col-md-6 col-12 align-content-start"> 
          <select id="inputState" class="form-control">
            {% for m in course.modules.all  %}
              {% if m.id == module.id %}
                <option value="{{m.id}}" selected>{{ m.title}} {{ m.order| add:1 }}</option>
              {% else %}  
                <option value="{{m.id}}" >{{ m.title}} {{ m.order| add:1 }}</option>
              {% endif %}
              {% empty %}
                <option value="0" selected>{% trans "No modules yet" %}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12">
          <!-- <h2>{% trans "Module" %} {{ module.order | add:1 }}: {{ module.title }}</h2> -->
          <h3>{% trans "Module conttens:" %}</h3>
          <div id="module-contents">
              {% for content in module.content.all %}
                  <div data-id="{{ content.id }}">
                      {% with item=content.item  %}
                        <p>{{ item }} ({{ item|model_name }}) </p>
                        <a href="{% url "module_content_update" module.id item|model_name item.id %}">{% trans "Edit" %}</a>
                          <form action="{% url "module_content_delete" content.id %}"  method="post">
                              <input type="submit" value="Delete">
                              {% csrf_token %}
                          </form>                    
                    {% endwith %}
                  </div>
              {% empty %}
                  <p>{% trans "This module has no content yet" %}</p>
              {% endfor %}
          </div>
          <h3> {% trans "Add new content:" %}</h3>
          <ul class="content-types">
              <li><a href="{% url "module_content_create" module.id "text" %}">{% trans "Text" %}</a></li>
              <li><a href="{% url "module_content_create" module.id "image" %}">{% trans "Image" %}</a></li>
              <li><a href="{% url "module_content_create" module.id "video" %}">{% trans "Video" %}</a></li>
              <li><a href="{% url "module_content_create" module.id "file" %}">{% trans "File" %}</a></li>
          </ul>
      </div>
    </div>
  </div>
 {% endwith %} 
{% endblock content %}
