{% load course %}
{% load i18n %}

{% block content %}
 {% with course=module.course   %}
     <div class="container"> 
       <div class="row">
         <div class="col-md-12">
            <h5>{% trans "Course" %} : "{{ course.title }}"</h5>
         </div>
       </div>
    
      <div class="row"> 
        <div class="col-md-3 col-12 align-content-center">{% trans "Select a Module" %}</div>
        <div class="col-md-6 col-12 align-content-start"> 
          <select id="inputState" class="form-control">
            {% for m in course.modules.all  %}
              {% if m.id == module.id %}
                <option value="{{m.id}}" selected>{{ m.title}} {{ m.order| add:1 }}</option>
              {% else %}  
                <option value="{{m.id}}" >{{ m.title}} {{ m.order| add:1 }}</option>
              {% endif %}
              {% empty %}
                <option value="0" selected>{% trans "No modules yet" %}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    <div class="row">
      <div class="col-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <!-- <h2>{% trans "Module" %} {{ module.order | add:1 }}: {{ module.title }}</h2> -->
          <h5>{% trans "Current Conttents:" %}</h5>
          <div>
              {% for content in module.content.all %}
                  <div class="row">
                    <div class="col-md-12" data-id="{{ content.id }}">
                      <div data-id="{{ content.id }}">
                        {% with item=content.item  %}
                          <div class="row">
                            <div class="col-md-8 col-12 bg-light">
                              <a href="{% url "module_content_update" module.id item|model_name item.id %}" id='edit_content'>{{ item }} ({{ item|model_name }})</a>
                            </div>
                            <div class="col-md-2 col-6">
                              <form action="{% url "module_content_delete" content.id %}"  method="post" id="delete_module_content">
                                <input type="submit" class="btn btn-danger" value="Delete">
                                {% csrf_token %}
                            </form> 
                            </div>  
                          </div>
                        {% endwith %}
                      </div>
                    </div>
                  </div>
                  
              {% empty %}
                  <p>{% trans "This module has no content yet" %}</p>
              {% endfor %}
          </div>
          <div class="row">
            <hr>
          </div>    
          <div class="row">
            <div class="col-md-5 col-3"><a href="{% url "module_content_create" module.id "text" %}" id="add_text_content">{% trans "Add Text" %}</a> | 
            <a href="{% url "module_content_create" module.id "image" %}" id="add_image_content">{% trans "Add Image" %}</a> |
            <a href="{% url "module_content_create" module.id "video" %}" id="add_video_content">{% trans "Add Video" %}</a> |
            <a href="{% url "module_content_create" module.id "file" %}" id="add_file_content">{% trans "Add File" %}</a></div>
          </div>
      </div>
    </div>
  </div>
 {% endwith %} 
{% endblock content %}
