
/* Import fonts from googlefonts */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Roboto&family=Sofia&display=swap');

/* Setting up global variable */



:root{
  --light-grey:#2b3032a1;
  --prinmary-color:rgb(145, 205, 232);
  --border: #2b303218;
  --text-color:#333;
  --roboto:"Roboto",sans-serif;
  --sofia:"Sofia",cursive;
  --gugi:"Gugi",cursive;

}

.primary-color {
  color: var(--prinmary-color);
}

.bg-primary-color {
  background-color: var(--prinmary-color) !important;
}

.text-color {
  color: var(--text-color);
}

.font-roboto {
  font-family: var(--roboto);
}

.lightblue {
  color: lightblue;
}
/* Base page--------------------------------- */
header {
  background-color: var(--prinmary-color);
  font-family: var(--roboto);
  font-weight: 500;
  margin-top:0;
  padding: 0px;
}

header .site-address{
  font-family: var(--Roboto);
  font-size: 0.9em;
  color: rgb(0, 0, 0);
} 

header .site-address li{
  list-style: none;
	display: inline-block;
  padding-left:20px;
}


header .header-links{
  margin-top: 0px;
  position: relative;
  list-style: none;
  padding: 0px;
}

header .header-links li{
  list-style: none;
	display: inline-block;
  padding-left:20px;
}

header a {
  font-size: 1.1em;
  text-decoration: none;
  color: black;
}

header .fa{
  color:black;
}


/* .container-fluid .dropdown-menu,
.container-fluid .dropdown-toggle,
.container-fluid .dropdown-item
{
   font-size: 0.9em;
   color:black;
   background-color: var(--prinmary-color);
   min-height: 10px;;
} */

.navbar {
     background-color: var(--prinmary-color);
     min-height: 10px; 
     margin-top:5px;
     
}

.navbar-logo{
  height: 10px;
}

.navbar-logo img{
  height: 70px;
}

.jumbotron {
  background-image: url("http://localhost:8000/static/images/Private-Universities-in-Sri-Lanka.jpg")
}

.logo{
  background-color: var(--prinmary-color);
}

.language-selection{
  align-content: right;
  text-align: right;
  margin-top: 1%;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px; 
}

.language-selection :hover{
  cursor: pointer;
}

.search-box{
  align-content: right;
  text-align: right;
  margin-top: 1%;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px; 
}


.sign_in{
  text-align: right;
  margin-top: 1%;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  /* border:1px solid; */
  
}

.sign_in ul li {
 padding: 2px;
 padding-top: 5px;
 margin: 0px;
}




/* Footer Navbar */

footer .navbar .nav-item {
  text-align: left;
  padding:0px;
  margin:0px;
}

footer .navbar .nav-item .nav-link{
  text-orientation: none;
  color:rgb(83, 82, 82);
  font-size: 13px;

  
}
footer .navbar .nav-item .nav-link:hover{
  color:rgb(255, 253, 253);
}

footer .jumbotron-fluid{
  background-color: rgb(155, 218, 240);
}
/* Home page  - Media queries  */


/* 
@media (min-width: 992px) {
  .container-mobile-fluid {
    width: 80%;


  }
} */


/* Home page ... List courses------------------------------------------------- */
.inner{
  overflow: hidden;
  transition: all 1.5s ease;
  z-index: inherit;
}


.inner:hover{
  transform: scale(1.5) translateZ(0px);
  z-index:2;
}



/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}



/* carousal */

.avatar-circle {
  width: 75x;
  height: 75px;
  background-color:  var(--text-color);
  text-align: center;
   border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; 
}

.initials {
  position: relative;
  top: 20px; /* 25% of parent */
  font-size: 35px; /* 50% of parent */
  line-height: 35px; /* 50% of parent */
  color: #fff;
  /* font-family: "Courier New", monospace; */
  font-weight: bold;
}



body {
    margin:0;
    font-family:'Roboto', sans-serif;
    font-weight:400;
    color:rgb(99, 96, 96);
}

/* Search filters */

.form-check{
  padding-top: 5px;
  /* color:red; */
}

.form-check-label{
  font-size: small;
}

.filter-heading{
  font-size: 15px;
  font-weight: bold;
}

.search-filters ul li{
  list-style: none;
}

.fa-star-o , .fa-star-half-o{
  color:red;
}

.extra_details {
  font-size: 12px;
}

.image{
  /* height:12rem; */
  margin-top:10px;
  position: relative;
}

/* ------------- Search list---------- */

.search-list .img-thumbnail {
  width:300px;
  height:150px;
}

.search-list a{
  text-decoration: none;
  background-color: blue;
  color:unset;
}

.search-list a:hover{
  color: unset;
}

/* Course details  */
.right-box{
  float: left;
}

.course-details-card{
  z-index:20;
  position: absolute;
  width:calc(100% - 30px)
}
.right-box .img-thumbnail {
  /* width:200px; */
  height:200px;
}

.right-box .price{
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  /* border: 1px solid red; */
}

.right-box .card-text{
  text-align: center; 
  /* padding: 10px; */
  /* border:1px solid; */
}

.right-box .card-text .button{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.right-box .card-text .addtocart{
  width:100%;
  height:50px;
  font-weight: bolder;
  background-color: brown;
  color:white;
  border-style: none;
  padding-bottom: 3px;
}

.right-box .card-text  .enroll {
  width:100%;
  height:50px;
  font-weight: bolder;
  border:1px solid;
  color:black ;
  border-style: none;
}

.content-summary{
  background-color: rgb(240, 234, 234);
  backdrop-filter: blur(5px);
  border: 1px ridge;
}

.content-summary ul{
   list-style: none;
   display: grid;
   grid-template-columns: repeat(2, 1fr)
}

.content-summary ul li{
 padding:2px;

}
.content-summary ul li:before{
   content: '✓';
   padding-right:5px;
 
}

.img-instructor{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; 
  border:1px solid red;
  width:100px;
  height: 100px;
  align-self: center;
}